.gdbinit
Zelda(E).nes
Mario(E).nes
*.d
*.o
*.sav
*.log
*.state0
*.state1
*.state2
*.state3
*.state4
*.state5
*.state6
*.state7
*.state8
*.state9
build*
output/nesalizer
output/nesalizer-steamlink.tgz
output/nesalizer-steamlink/nesalizer
